{% extends "why/boilerplate.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}

<P>To <strong>login with the demo user</strong><br/>
do <a href="#" onClick="javascript:document.getElementById('id_username').value='demo';document.getElementById('id_password').value='showmetaskwhy';">click here</a> (or manually enter '<code>demo</code>' for the username and '<code>showmetaskwhy</code>' for the password) and click the login button.</p>

<P>To <strong>obtain an account</strong><br/>
do write <a href="mailto:chris@mann.fr">chris@mann.fr</a>. </P>

<!--
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
-->

<P>A Task.How is a an indefinate verb phrase (in the form "do something" such as "buy milk") that you provide. The software provides context by associating other Task.Hows for you in a to-do structure (in the form "to achieve something do take some intermediate step" such as "to go grocery shopping do buy milk"). These to-do Task.Hows then may be infinately encapsulated ("to achieve something to take some intermediate step do take one detailed step and do take another detailed step" such as "to run errands to go shopping at the supermarket do buy milk and do buy coffee"). Simple.</P>

{% endblock %}
