<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "why/styles.css" %}">
  <title>{% block title %}T'ask?{% endblock %}</title>
  <meta name="description" content="Who? What! Etc.">
  <meta name="author" content="Chris Mann <chris@mann.fr>">
  <link rel='icon' href='{% static "why/favicon.png" %}' type='image/png'/ >
</head>

<body>
<div id='topmenu'>
<ul>
    <li><a href="/">Home</a>
    <li>{% if user.is_authenticated %}
        {{ user.username }}</li>  
    <li><a href="/accounts/logout">Logout</a></li>   
        {% else %}
    <li><a href='/accounts/login'>Login</A></li> 
        {% endif %}
    
    <!-- <li><a href="/admin/why/who/">Contacts</a></li> -->
</ul>
<hr/>
</div>

<div id="content">
{% block content %}Manage why you do do what you do do.{% endblock %}
</div>
<hr/>
<P style="font-size:16px;">T'ask? (taskwhy.com) helps remember todos and their associated objectives in a convenient hierarchical virtual notepad. T'ask? is available for use at <a href="https://www.taskwhy.com">www.taskwhy.com</a>. T'ask? source code and project management artifacts are available at <a href="https://github.com/chris2fr/why">https://github.com/chris2fr/why</a>. Inquiries may be addressed to Chris Mann at <a href="mailto:chris@mann.fr">chris@mann.fr</a> or +33 781 811 811 (CET). Enjoy.</P>

</body>
</html>