<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "why/styles.css" %}">
  <title>{% block title %}Task.How{% endblock %}</title>
  <meta name="description" content="To Task.How Do Task.How">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Chris Mann <chris@mann.fr>">
  <link rel='icon' href='{% static "why/favicon.png" %}' type='image/png'/ >
</head>

<body>
<div id='topmenu'>
<ul>
    <li><a href="/">Task.How</a>
    <li><a href="https://www.tohavedone.com/">Blog</a>
    <li>{% if user.is_authenticated %}
        {{ user.username }}</li>  
    <li><a href="/accounts/logout">Logout</a></li>   
        {% else %}
    <li><a href='/accounts/login'>Login</A></li> 
        {% endif %}
    
    <!-- <li><a href="/admin/why/who/">Contacts</a></li> -->
</ul>
<hr/>
</div>

<div id="content">
{% block content %}Manage why you do do what you do do.{% endblock %}
</div>
<hr/>
<P style="font-size:16px;">Task.How helps remember todos and their associated objectives in a convenient hierarchical virtual notepad. Task.How is available for use at <a href="https://task.how">task.how</a>. Task.How source code and project management artifacts are available at <a href="https://github.com/chris2fr/taskphrase">https://github.com/chris2fr/taskphrase</a>. <a href="https://www.tohavedone.com">Task.How blog</a> is an associated website addressing processes to envision successful futures using tools such as Task.How and others. Inquiries may be addressed to Chris Mann at <a href="mailto:chris@mann.fr">chris@mann.fr</a> or +33 781 811 811 (CET). Enjoy.</P>

</body>
</html>
