<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Who, What, Etc.</title>
  <meta name="description" content="Who? What! Etc.">
  <meta name="author" content="Chris Mann <chris@mann.fr>">

</head>

<body>

<a href="/admin/login/?next=/">Log{in/out}</a> | <a href="/admin/why/who/">Contacts</a>

<table border="1">
    <tr>
        <th>Id</th>
        <th>To</th>
        <th>Why</th>
        <TH>Do</TH>
        <TH>What</TH>
        <TH>&gt;</TH>
        <TH>+</TH>
        <TH>X</TH>
    </tr>
    <!-- <TH>Where</TH><TH>When</TH><TH>Whom</TH><TH>How</TH><TH>How Much</TH><TH>How Long</TH></tr>\n" -->
    <tr>
        <td></td>
        <td>To</td>
        <td>,</td>
        <td align="center">do</TD>
        <TD>.</td>
        <TD><A href="/">&gt;</A></TD>
        <TD><a target="_new" href="/admin/why/what/add">+</A></TD>
        <TD></td>
            <!-- <td></td><td></td><td></td><td></td><td></td><td></td>-->
    </tr> 
    {% for what in whats %}
    <tr>
        <td>{{what.result.id}}.{{what.id}}</td>
        <td>To</td>
        <td><a target="_new" href="/admin/why/what/{{what.result.id}}/change/">{{what.result.action}}</a>,</td>
        <td align="center">do</TD>
        <TD><a target="_new" href="/admin/why/what/{{what.id}}/change/">{{what.action}}</a>.</td>
        <TD><A href="/?zoom={{what.id}}">&gt;</A></TD>
        <TD><a target="_new" href="/admin/why/what/add/?result={{what.id}}">+</A></TD>
        <TD><a target="_new" href="/admin/why/what/{{what.id}}/delete/">X</a></td>
            <!-- <td></td><td></td><td></td><td></td><td></td><td></td>-->
    </tr> 
    {% endfor %}
    <tr>
        <form action="/?zoom={{zoom_id}}" method="post">
            {% csrf_token %}
    <tr>
        <td>{{what.result.id}}.{{what.id}}</td>
        <td>To</td>
        <td>{{ what_form.result }},</td>
        <td align="center">do</TD>
        <TD>{{what_form.action}}.</td>
            <!-- <td></td><td></td><td></td><td></td><td></td><td></td>-->
    </tr> 
    </form>
    </tr>
</table>

</body>
</html>