{% extends "why/boilerplate.html" %}

{% block title %}T'ask?{% endblock %}

{% block content %}

{% if  user.is_authenticated %}

<!-- WHAT UP -->

{% if zoom_id > 0 %}

    To
    {% if what_now.result.id %} 
    <a href="/read/{{what_now.result.id}}">{{what_now.result.action}}</a> 
    {% endif %} 
    <br/>do <strong>{{ what_now_form.action.value }}</strong>:
    <UL> 
    {% for whatd in what_downs %} 
        <li>do <a href="/read/{{whatd.id}}">{{whatd.action}}</a>. 
            <a href="/delete/{{whatd.id}}" onclick="return confirm('Are you sure?')">X</a>
        </li>
    {% endfor %} 
        <LI><form action="/create/" method="post">
            {% csrf_token %} {{what_new_form.result}}do {{what_new_form.action}}. 
        </form></LI> 
        </UL> 

        <form action="/update/{{zoom_id}}" method="post">
        {% csrf_token %}
        Do
        {{ what_now_form.action }},
        in order to
        {{ what_now_form.result }}.
        <a href="/delete/{{what_now.id}}" onclick="return confirm('Are you sure?')">X</a>
        </form>
        <BR/>
    {% for what in what_ups reversed %}
    Do <a href="/read/{{what.id}}">{{ what.action }}</a>{% if what.result.id %} 
    in order to
     <a href="/read/{{what.result.id}}">{{ what.result.action }}</a>{% endif %}.<BR/>
    {% endfor %}
    
{% else %}
        <UL>
        {% for what in what_tops %}
        <LI>To <a href="/read/{{what.id}}">{{ what.action }}</a>.</li> 
        {% endfor %} 
        <LI><form action="/create/" method="post">{% csrf_token %}To {{what_new_form.action}}.</form></LI> 
    </UL> 
{% endif %} 

{% else %}
<P>Demo user 'demo' password 'showmetaskwhy'. For an account, write chris@mann.fr. </P>
{% endif%}

{% endblock %}

